*.o
*.Po
*.Plo
*.lo
src/qt/moc_*
src/.libs
configure
build-aux
autom4te.cache
aclocal.m4
Makefile
Makefile.in
.qmake.stash
config.log
config.status
libtool
build/build.h
build/ui_*
src/Altmarkets-cli
src/Altmarkets-tx
src/Altmarketsd
*.dirstamp
src/config
*.a
src/qt/Altmarkets-qt
src/qt/.libs/Altmarkets-qt
src/libAltmarketsconsensus.la
*.moc
src/qt/forms/ui_*
nohup.out
*.pb.cc
*.pb.h
*_locale.cpp
src/test/buildenv.py
src/qt/qrc_Altmarkets.cpp
